<!-- Hero Carousel Section (Full Width - Outside Boxed Container) -->
<div class="jumbotron jumbotron--with-captions">
	<div class="carousel slide js-jumbotron-slider" id="headerCarousel" data-interval="5000">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="/assets/images/renotheme/demo/slider/slider_04.jpg" alt="Professional Construction Services" />
				<div class="container">
					<div class="carousel-content">
						<div class="jumbotron__category">
							<h6>LICENSED CONTRACTOR</h6>
						</div>
						<div class="jumbotron__title">
							<h1>{{ site.company.name }}</h1>
						</div>
						<div class="jumbotron__content">
							<p>{{ site.company.license }} - Trusted renovations and outdoor work in Montréal, Québec. From patio rebuilds to complete home renovations, we bring quality craftsmanship to every project.</p>
							<a class="btn btn-primary" href="/contact/">GET FREE QUOTE</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="/assets/images/renotheme/demo/slider/slider_05.jpg" alt="Construction Management">
				<div class="container">
					<div class="carousel-content">
						<div class="jumbotron__category">
							<h6>WE TAKE CARE OF EVERYTHING</h6>
						</div>
						<div class="jumbotron__title">
							<h1>Construction Management</h1>
						</div>
						<div class="jumbotron__content">
							<p>We provide overall planning, coordination and control of your project, so you don't have to worry about anything. Licensed and insured for your peace of mind.</p>
							<a class="btn btn-primary" href="/services/">OUR SERVICES</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="/assets/images/renotheme/demo/slider/slider_01.jpg" alt="Quality Renovations">
				<div class="container">
					<div class="carousel-content">
						<div class="jumbotron__category">
							<h6>FEATURED PROJECTS</h6>
						</div>
						<div class="jumbotron__title">
							<h1>Quality Renovations</h1>
						</div>
						<div class="jumbotron__content">
							<p>Transform your home with our expert renovation services. Kitchen remodels, bathroom updates, and complete home transformations with premium materials.</p>
							<a class="btn btn-primary" href="/portfolio/">VIEW PORTFOLIO</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="/assets/images/renotheme/demo/slider/slider_07.jpg" alt="Relationships That Last" />
				<div class="container">
					<div class="carousel-content">
						<div class="jumbotron__category">
							<h6>SATISFACTION GUARANTEED</h6>
						</div>
						<div class="jumbotron__title">
							<h1>Relationships That Last</h1>
						</div>
						<div class="jumbotron__content">
							<p>Our promise as a contractor is to build community value into every project while delivering professional expertise, exceptional customer service and quality construction.</p>
							<a class="btn btn-primary" href="/about/">ABOUT US</a>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<img src="/assets/images/renotheme/demo/slider/slider_03.jpg" alt="Renovating Homes and Offices">
				<div class="container">
					<div class="carousel-content">
						<div class="jumbotron__category">
							<h6>OUR EXPERTISE</h6>
						</div>
						<div class="jumbotron__title">
							<h1>Renovating Homes and Offices</h1>
						</div>
						<div class="jumbotron__content">
							<p>We offer the most complete renovation services in the region, from kitchen design to bathroom remodeling, office renovations, and outdoor landscaping projects.</p>
							<a class="btn btn-primary" href="/contact/">CONTACT US</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#headerCarousel" role="button" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="right carousel-control" href="#headerCarousel" role="button" data-slide="next">
			<i class="fa fa-angle-right"></i>
		</a>
	</div>
</div>