---
layout: renotheme
---

<div class="renotheme-master-container">
	<div class="renotheme-container">
		<div class="row">
			<main class="col-xs-12" role="main">
				<article class="single hentry post-inner">
					<h2 class="hentry__title">{{ page.title }}</h2>
					<div class="row">
						<div class="col-xs-12 col-md-6">
							<div class="project__meta-data">
								<ul class="list-unstyled">
									{% if page.year %}
									<li><span class="project__meta-icon"><i class="fas fa-calendar"></i></span> Construction Date: <strong>{{ page.year }}</strong></li>
									{% endif %}
									{% if page.location %}
									<li><span class="project__meta-icon"><i class="fas fa-map-marker"></i></span> Location: <strong>{{ page.location }}</strong></li>
									{% endif %}
									{% if page.surface_area %}
									<li><span class="project__meta-icon"><i class="fas fa-arrows-alt"></i></span> Surface Area: <strong>{{ page.surface_area }} m<sup>2</sup></strong></li>
									{% endif %}
									{% if page.investor %}
									<li><span class="project__meta-icon"><i class="fas fa-user"></i></span> Contracting Investor: <strong>{{ page.investor }}</strong></li>
									{% endif %}
									{% if page.cost %}
									<li><span class="project__meta-icon"><i class="fas fa-usd"></i></span> Value: <strong>{{ page.cost }}</strong></li>
									{% endif %}
									{% if page.categories %}
									<li><span class="project__meta-icon"><i class="fas fa-th-list"></i></span> Category: <strong>{% for category in page.categories %}{{ category }}{% unless forloop.last %}, {% endunless %}{% endfor %}</strong></li>
									{% endif %}
								</ul>
							</div>
							<div class="hentry__content project__content">
								{{ content }}
							</div>
							<nav class="project__navigation">
								<ul class="list-unstyled">
									{% assign sorted_projects = site.projects | sort: 'date' %}
									{% for project in sorted_projects %}
									{% if project.url == page.url %}
									{% assign current_index = forloop.index0 %}
									{% endif %}
									{% endfor %}
									{% assign prev_index = current_index | minus: 1 %}
									{% assign next_index = current_index | plus: 1 %}
									{% if prev_index >= 0 %}
									{% assign prev_project = sorted_projects[prev_index] %}
									<li><a href="{{ prev_project.url }}" rel="prev"><i class="fas fa-caret-left"></i>&nbsp; Previous Project</a></li>
									{% endif %}
									{% if next_index < sorted_projects.size %}
									{% assign next_project = sorted_projects[next_index] %}
									<li><a href="{{ next_project.url }}" rel="next">Next Project &nbsp; <i class="fas fa-caret-right"></i></a></li>
									{% endif %}
								</ul>
							</nav>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="project__gallery">
								{% if page.images %}
								{% for image in page.images %}
								<a href="{{ image }}" data-rel="prettyPhoto">
									<img width="555" height="312" src="{{ image }}" class="attachment-project-gallery" alt="Project Image"/>
								</a>
								{% endfor %}
								{% else %}
								{% if page.thumbnail %}
								<a href="{{ page.thumbnail }}" data-rel="prettyPhoto">
									<img width="555" height="312" src="{{ page.thumbnail }}" class="attachment-project-gallery" alt="Project Image"/>
								</a>
								{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</article>
			</main>
		</div>
	</div>
</div>
